@import '../../../../vendor/filament/filament/resources/css/theme.css';
@import '../../../../vendor/adultdate/filament-wirechat/resources/css/filament-wirechat.css';
@source '../../../../vendor/adultdate/filament-wirechat/resources/**/*.blade.php';
@source '../../../../vendor/wallacemartinss/filament-icon-picker/resources/views/**/*';
@import '../../../../vendor/bezhansalleh/filament-panel-switch/resources/css/panel-switch.css';
@source '../../../../vendor/bezhansalleh/filament-panel-switch/resources/views/**/*.blade.php';

@source '../../../../app/Filament/Storage/**/*';
@source '../../../../resources/views/filament/storage/**/*';


::-webkit-scrollbar {
    width: .56vw !important;
    height: 8px !important;
}

::-webkit-scrollbar-button {
    width: 0px !important;
    height: 0px !important;
}

::-webkit-scrollbar-thumb {
    background: #e1e1e1 !important;
    border: 0px none #ffffff !important;
    border-radius: 50px !important;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffffff !important;
}

::-webkit-scrollbar-thumb:active {
    background: #000000 !important;
}

::-webkit-scrollbar-track {
    background: #666666 !important;
    border: 0px none #ffffff !important;
    /* border-radius: 81px; */
}

::-webkit-scrollbar-track:hover {
    background: #666666 !important;
}

::-webkit-scrollbar-track:active {
    background: #333333 !important;
}

::-webkit-scrollbar-corner {
    background: transparent !important;
}

.fi-breadcrumbs .fi-breadcrumbs-item-label {
    @apply text-xs!;
}

.choices__item--selectable {
    @apply cursor-pointer!;
}

.fi-sidebar {
    @apply bg-white! dark:bg-gray-900!;
}

.fi-sidebar-item a,
.fi-tenant-menu-trigger {
    @apply hover:bg-gray-200/50! hover:dark:bg-gray-800!;
}

.fi-sidebar-item-active a {
    @apply bg-gray-200/50! dark:bg-gray-800!;
}

.fi-btn.fi-color-primary {
    background-image: linear-gradient(
        to bottom right,
        var(--primary-500),
        var(--primary-900)
    ) !important;
    box-shadow:
        0 4px 6px -1px #0000001a,
        0 2px 4px -2px #0000001a !important;
}

.fi-btn.fi-color-primary {
    transition: 0.5s !important;
    background-size: 200% auto !important;
}

.fi-btn.fi-color-primary:hover {
    background-position: right center !important; /* change the direction of the change here */
    text-decoration: none !important;
}

        @media screen and (min-width: 900px) {
          .fi-modal-window.fi-modal-window-has-close-btn.fi-modal-window-has-content.fi-modal-window-has-footer.fi-align-start.fi-width-md{
    z-index: 10000 !important;
min-width: 868px!important;;
}
form.fi-modal-window.fi-modal-window-has-close-btn.fi-modal-window-has-content.fi-modal-window-has-footer.fi-align-start.fi-width-md{
    min-width: 868px!important;
}
        }


div.fc-timegrid-event-harness .fc-timegrid-event-harness-inset{
    margin-top: 2px!important;
}
.fc-timegrid-event-harness-inset{
    margin-top: 2px!important;
}

.fc-event-time{
    font-size: 10px!important;
     margin-bottom: 3px!important;
  margin-top: -3px!important;
  font-weight: bold!important;
}
div.fc-event-time{
    font-size: 10px!important;
     margin-bottom: 3px!important;
  margin-top: -3px!important;
  font-weight: bold!important;
}
.fc-timegrid-event .fc-event-time{
    font-size: 10px!important;
     margin-bottom: 3px!important;
  margin-top: -3px!important;
  font-weight: bold!important;
}
div.fc-timegrid-event .fc-event-time{
    font-size: 10px!important;
     margin-bottom: 3px!important;
  margin-top: -3px!important;
  font-weight: bold!important;
}
.fc-v-event .fc-event-time{
     font-size: 10px!important;
     margin-bottom: 3px!important;
  margin-top: -3px!important;
  font-weight: bold!important;
}
.fc-v-event .fc-event-title{
    font-size: 12px!important;
  margin-top: -4px!important;

}

/* Hide event title text in month (dayGrid) view to show only dots/times */
.fc-daygrid .fc-event-title,
.fc-daygrid .fc-daygrid-event .fc-event-title {
         font-weight: normal!important;
}

a.fc-event.fc-event-draggable.fc-event-resizable.fc-event-start.fc-event-end.fc-event-future.fc-daygrid-event.fc-daygrid-dot-event{
    display: none!important;
}

div.logo-before{
   display:none!important;
}
