@import '../../../../vendor/filament/filament/resources/css/theme.css';
@import '../../../../vendor/adultdate/filament-wirechat/resources/css/filament-wirechat.css';
@source '../../../../vendor/adultdate/filament-wirechat/resources/**/*.blade.php';
@source '../../../../vendor/wallacemartinss/filament-icon-picker/resources/views/**/*';
@import '../../../../vendor/bezhansalleh/filament-panel-switch/resources/css/panel-switch.css';
@source '../../../../vendor/bezhansalleh/filament-panel-switch/resources/views/**/*.blade.php';

@source '../../../../app/Filament/Chat/**/*';
@source '../../../../resources/views/filament/chat/**/*';

h1.fi-header-heading {
display:none!important;
}
li.fi-sidebar-item.fi-active.fi-sidebar-item-has-url {

}
nav.fi-sidebar {
display:none!important;
}
.fi-sidebar {
display:none!important;
}
.fi-page-header-main-ctn {
padding: 0px!important;
}
